<% include partials/header %>

<h2><u>About</u></h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi praesentium veritatis quas maiores sed et beatae error, veniam minus mollitia? Cum, reprehenderit? Ex nostrum beatae soluta, deleniti omnis facilis obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aspernatur recusandae neque, deserunt dolores asperiores soluta praesentium doloribus commodi! Corrupti itaque cupiditate repellendus corporis omnis atque labore voluptatem iusto in?</p>

<% include partials/footer %>