<% include partials/header %>

<div>
    <h2><u>Contact</u></h2>
    <br>
    <h5><strong>stalindurjo@gmail.com</strong></h5>
    <hr>
    
    <p><strong>Description</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum accusamus eligendi recusandae dolor? Sed facilis esse ea voluptatem tempora maiores necessitatibus provident, corporis culpa ut incidunt libero unde ducimus nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nulla expedita nemo doloribus, odio totam vitae labore laborum dolores, iste deserunt quia doloremque odit harum velit molestiae suscipit quo aliquam!</p>
</div>

<% include partials/footer %>